.container
{
    background-color: aqua;
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.card 
{
    background-color: rgb(42, 114, 209);
    width: 400px;
    height: 200px;
    border: 4px;
    box-shadow: 4px 5px 8px rgb(0, 0, 0);
    border-width: 4px; ;
    border-color:black;
    border-style:dotted;
    border-radius: 10%;




}